# ----------------------------  SYSTEM NAME  -----------------------------------
system_name: ecapre

# ----------------------------  REFERENCE SPL  ---------------------------------
# Global gain to obtain the reference SPL (level = 0.0):
ref_spl_gain: 0.0

# ------------------------------  INPUTS ---------------------------------------
inputs:
    analog:   ['system:capture_1',         'system:capture_2']
    macOS:    ['JackBridge #1:output_0',   'JackBridge #1:output_1']
    net:      ['zita-n2j:out_1',           'zita-n2j:out_2']

# --------------------  AUX SERVICES CONFIGURATION -----------------------------
aux:

    # Configure here your command line script to SWITCH ON/OFF your AMPLIFIER.
    # (i) It is expected that the script will store the amplifier state 'on' or 'off'
    #     into the file '~/.amplifier' so that others processes could know about.
    amp_manager:  ampli.sh

# ------------------------- TCP SERVICES ---------------------------------------
control_addr:  0.0.0.0
control_port:  9999
aux_addr:  0.0.0.0
aux_port:  9998

# -------------------- ECASOUND CHAIN OPERATORS LOCATION -----------------------
# This is given from the loaded ecapre.ecs cop-list:
#
# 1: C* Eq4p - 4-band parametric shelving equaliser --> Tones and Room_Gain
# 2: C* Eq10 - 10-band equaliser    --> House curve
# 3: C* Eq10 - 10-band equaliser    --> Loudness rendering
# 4: Amplify (dB)   --> 2 x -3.5 dB to compensate the internal Eq10 plugins's gain
# 5: 4-band parametric filter       --> parametric EQ
# 6: Amplify (dB)   --> level control

TONE_COP_IDX    : 1
ROOMG_COP_IDX   : 1
HOUSE_COP_IDX   : 2
LOUD_COP_IDX    : 3
PEQ_COP_IDX     : 5
AMP_COP_IDX     : 6


# ------------------------------  LIMITS ---------------------------------------
# Headroom positive eq span for tone (+6dB) or balance(+3dB)
headroom:           9.0

min_loud_compens:   0.0
max_loud_compens:   15.0

tone_span:          6.0
balance_span:       6.0


# ------------------------------  JACKD ----------------------------------------
# (i)   - For CAP_DEVICE and PBK_DEVICE, configure here the 'internal name'
#         as displayed when you run $ jackdmp -d coreaudio --list
#       - If no input is needed, set CAP_PORTS: 0
CAP_DEVICE:    'AppleHDAEngineInput:1B,0,1,0:1'
PBK_DEVICE:    'AppleHDAEngineOutput:1B,0,1,1:0'
FS:             44100
PERIOD_SIZE:    128
CAP_PORTS:      2
PBK_PORTS:      2

