
# -------------------- ECASOUND CHAIN OPERATORS LOCATION -----------------------
# This is given from the loaded ecapre.ecs cop-list:
#
# 1: C* Eq4p - 4-band parametric shelving equaliser --> Tones and Room_Gain
# 2: C* Eq10 - 10-band equaliser    --> House curve
# 3: C* Eq10 - 10-band equaliser    --> Loudness rendering
# 4: Amplify (dB)   --> 2 x -3.5 dB to compensate the internal Eq10 plugins's gain
# 5: 4-band parametric filter       --> parametric EQ
# 6: Amplify (dB)   --> level control

TONE_COP_IDX    : 1
ROOMG_COP_IDX   : 1
HOUSE_COP_IDX   : 2
LOUD_COP_IDX    : 3
PEQ_COP_IDX     : 5
AMP_COP_IDX     : 6

# ------------------------------  LIMITS ---------------------------------------

# Headroom positive eq span for tone (+6dB) or balance(+3dB)
headroom:           9.0

min_loud_compens:   0.0
max_loud_compens:   15.0

tone_span:          6.0


# ------------------------------  REFERENCE SPL --------------------------------

# Global gain to obtain the reference SPL (level = 0.0):

# This is for my MBP line out --> RPI3 clac -->
#                                    system:capture --> system:playback --> Dyn42
ref_spl_gain: -2.0

# This is for my MBP line out --> AKG K702
#ref_spl_gain:  8.0



