# ------------------------------  LIMITS ---------------------------------------

# Headroom eq span for tone (+6dB), loudness(+6dB), and balance(+3dB)
headroom:           15.0

min_loud_compens:   0.0
max_loud_compens:   15.0

tone_span:          6.0


# ------------------------------  REFERENCE SPL --------------------------------

# Global gain to obtain the reference SPL (level = 0.0):

# This is for my MBP line out --> RPI3 clac -->
#                                    system:capture --> system:playback --> Dyn42
ref_spl_gain: -2.0

# This is for my MBP line out --> AKG K702
#ref_spl_gain:  8.0



