
#-------------------------- Serial device config
ir_dev:     '/dev/cu.usbserial-AO0099IL'    # FTDI FT232R USB UART s/n:AO0099IL
#ir_dev:     '/dev/cu.usbserial-DA00L64Y'    # FTDI FT230X Basic UART s/n:DA00L64Y
# time in seconds to avoid to bouncing commands:
antibound:  .5

#-------------------------- Remote to be used from dictionary below
remote:     Panasonic_TV

#-------------------------- Remotes dictionary table
remotes:

    Panasonic_TV:
        baudrate:                           1200
        bytesize:                           8
        parity:                             N
        stopbits:                           1
        wlength:                            7
        keymap:

            # volume & mute keys:
            b'\x98\x00\x01\x02@ \xff':          level +3 add
            b'\x98\x00\x01\x02\x82\x82\xfd':    level -3 add
            b'\x98\x00\x01\x02D\x88\xfa':       mute toggle

            # pending
            b'':                                aux amp_switch toggle

            # arrow_l < ok > arrow_r:
            b'\x98\x00\x01\x02TQ\xd4':          aux player prev
            b'\x98\x00\x01\x02""\xfd':          aux player play_pause
            b'\x98\x00\x01\x02\xaaRQ':          aux player next

            # dvd keypad:
            b'\x98\x00\x01\t\x88\x12U':         aux player prev
            b'\x98\x00\x01\t\x90\x90\xe9':      aux player play_pause
            b'\x98\x00\x01\t\x90"U':            aux player next
            b'\x98\x00\x01\tPP\xe9':            aux player play_pause
            b'\x98\x00\x01\t\x00\xa0\xfd':      aux player stop


    Apple_remote:
        baudrate:                           2400
        wlength:                            27
        keymap:

